
*{
    padding:0;
    margin:0;
    position: relative;
}

body{
    width:100vw;
    height:100vh;
    background-image: url(../images/pattern.png);
    background-size:100px;
    background-color: #959595;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
}


.bookcover{
    width:960px;
    height:660px;
    margin: 100px auto;
    position:relative;
    background-color:#d3eda0;
    border: 1px solid #616f77;
    border-radius:9px;
    position: relative;
}

.bookdot{
    position: absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    padding: 15px;
    border: 2px dashed #fff;
    border-radius:9px;
}

.page{
    position: absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border: 1px solid #fff;
    border-radius:9px;
    background-color:#f0f0f0;
    display: flex;
    padding: 15px;
  }
  
  
  .profile-container {
    flex: 0.4;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .menu-container {
    flex: 0.15;
    border: 1px solid grey;
  }
  

  .header {
    flex: 0.1;
  }

  .profile-title {
    text-align: center;
    padding: 6px;
    font-size: 0.8rem;
  }
  
  .color-red {
    color: red;
  }
  
  .profile-conti {
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
  }

  .profile{
    text-align: center;
    padding-top:10px;
  }
  

  .introduce{
    font-size:15px;
    text-align: center;
    padding-top:10px;
  }
  
  .content-title-name{
      font-size:13px;
  }

  .content-title {
    padding: 6px 0;
    display: flex;
  }
  
  .content-title-name {
    flex: 1;
  }
  
  .content-title-url {
    flex: 1;
    font-size: 13px;
  }


  .main-conti{
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
  }

  .main-conti>span{
    font-size:17px;
    color: #11308a;
    font-weight: bold;
    margin:10px;
  }

  .main-conti .conti-line{
    width:530px;
    border-top:1px solid #ccc;
    margin:6px;
  }

  .main-conti .conti-update{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left:12px;
  }
  

.news_wrap>div{
    margin-top:5px;
}


.news_title01{
    background: crimson; 
    color:#fff;
    border-radius:5px;
    font-size:13px;
    padding:3px;
}


.news_title02{
    background:#11308a;
     color:#fff;
    border-radius:5px; 
    font-size:13px;
    padding:3px;
}
.news_title03{
    background:#4e4e4e;
    color:#fff;
    border-radius:5px; 
    font-size:13px;
    padding:3px;
}


.news_title04{
    background:crimson; 
    color:#fff;
    border-radius:5px;
    font-size:13px;
    padding:3px;
}

.news_text{
    font-size:12px;
}


.menu_wrap{
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
    flex:1;
    font-size: 12px;
}

.menu_row{
  display: flex;
  flex: 95px 0 0;
  justify-content: space-around;
  margin: 3px 0px;
  padding: 1px 0px;
  border-bottom: 1px #A3A3A3 dashed;
}